@media all {
    .easy-admin .subhead::before,
    .easy-admin-addons .no-resources:before {
        content: "";
    }
    .check-and-fix .subhead::before,
    .check-and-fix .no-resources:before {
        content: "";
    }
    .easy-admin-addons .subhead::before,
    .easy-admin-addons .no-resources:before {
        content: "";
    }
    .easy-admin.cron .subhead::before,
    .easy-admin.cron .no-resources:before {
        content: "";
    }
    .file-manager .subhead::before,
    .file-manager .no-resources:before {
        content:"";
    }
    .easy-admin-addons .chosen-container .chosen-results {
        max-height: 50vh;
    }

    #toggle-display-dir {
        text-align: right;
    }
}
